body
{
overflow:scroll;
}
a, p, h1
{
color: #707070!important;

}
code
{
}
xmp
{
margin:20px;
}
.active
{
color:green!important;
}
.btn-blue
{
width: 150px;
height: 50px;
background: #4AC7FF 0% 0% no-repeat padding-box;
border: 0px solid #707070;
opacity: 1;
border-radius:2px;

}
.btn-green
{
width: 150px;
height: 50px;
background: #00AD28 0% 0% no-repeat padding-box;
border: 0px solid #707070;
opacity: 1;
border-radius:2px;
}
.header, .content, .footer {
text-align:center!important;
}
.header
{

}
.content
{
overflow:none;
}
.footer
{
position:fixed;
bottom:1px;
}
#header-txt
{
margin-top:80px;
font-family: Helvetica Neue;
letter-spacing: 0;
color: #707070;
opacity: 1;
font-size:3em;
}
