<a-scene embedded arjs='sourceType: webcam;'>
                <a-plane position="0 0 0" rotation="-90 0 0" width="1" height="1" material="src:i.png"></a-plane>
                <a-marker-camera preset='hiro'></a-marker-camera>
        </a-scene>
